* {
  font-family: "Courier New", Courier, monospace;
}

.recursion-tree,
.recursion-tree-solved,
.recursion-tree-unsolved {
  width: 80%;
  height: 47vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.graph-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-left: 2rem;
}
.heading-section {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
#connections {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* border: 1px solid black; */
}
.level-container {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.blob {
  padding: 3px;
  background-color: lightcoral;
  border: 1px solid black;
  border-radius: 50px;
  margin-bottom: 2rem;
  transition: all ease-out;
  /* transition-duration: 0.2s; */
}
.b-highlighted {
  background-color: lawngreen;
  border: 1px solid black;
}
